{
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "singleQuote": true,
    "semi": false,
    "jsxSingleQuote": true,
    "printWidth": 120,
    "endOfLine": "lf",
    "bracketSameLine": true,
    "arrowParens": "avoid"
}
